.section.background-opacity.page-title,
.background-opacity:before {
  background-color: rgba(1, 110, 132, 0.8) !important;
}

.footer-top {
  display: none;
}

h1,
h2 {
  font-family: Lato;
}

.team,
.supervisor {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.team-member {
  display: flex;
  height: 350px;
  flex-basis: 25%;
  align-items: flex-start;
  margin: 50px 70px;
}

.spacer2 {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  background-image: linear-gradient(#296965, #fff);
  background-image: linear-gradient(cyan, #ccffff, #fff);
  background-image: linear-gradient(#286a66, #fff);
  background-image: linear-gradient(#000000e3, #ffffff);
  background-image: linear-gradient(#000000e3, rgb(1, 110, 132), #ffffffe3);
  background-image: linear-gradient(#102a28e3, #286a66e3, #ffffffe3);
  margin: auto 20px;
  color: #ffffff;
  border-radius: 15px;
  padding: 0 10px;
}

.spacer2 .name {
  font-size: 18px;
  margin-top: 10px;
  line-height: 1.5;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.spacer2 .title {
  font-size: 16px;
  line-height: 2.5;
  margin-top: 15px;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-style: italic;
}

.bio {
  width: 95%;
  text-align: center;
  margin: 10px 0 0 0;
  font-family: Lato;
  line-height: 1.5;
  color: #000;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fun-facts {
  display: flex;
  font-size: 18px;
  width: 100%;
  height: 50%;
  background: rgba(249, 155, 114, 0.8);
  background: #cc9275;
  background: #ff6a39;
  background: #658d1b;
  background: #286a66;
  background: rgba(1, 110, 132, 0.8);
  color: #fff;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
  padding: 15px 5px;
  justify-self: flex-end;
  position: relative;
  font-family: 'Kalam', cursive;
}

.hashtag-funfacts {
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.bio .list-item {
  font-size: 15px;
  margin: 5px 0;
}

.scene {
  perspective: 600px;
}

.card {
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
  width: 75%;
}

.card.flipped {
  transform: translateX(-100%) rotateY(180deg);
}

.card-face {
  position: absolute;
  text-align: center;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-front img {
  width: 100%;
  border-radius: 15px;
  align-self: center;
  box-shadow: 0 19px 38px #0000004d, 0 19px 12px #00000038;
}

.card-back {
  transform: rotateY(-180deg);
  background: #cfcfcf !important;
  background: #bbbbbb !important;
  background: #9e9e9e !important;
  background: #8d8d8b !important;
  border-radius: 15px;
  width: 455px;
  min-height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 5px 10px #0000004d, 0 5px 3.5px #00000038;
  overflow: hidden;
}

#help-desk {
  font-size: 42px;
  color: #49575f;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1;
  margin: 80px 0 7px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (max-width: 1024px) {
  .team,
  .supervisor {
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }

  .team-member {
    width: 100%;
    display: block;
    overflow: visible;
    position: relative;
    height: 800px;
    margin: 20px 0;
  }

  .card {
    width: 100%;
  }

  .spacer2 {
    height: 200px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
  }

  .card-back {
    transform: unset;
    min-height: unset;
    height: unset;
    max-height: 300px;
    width: 100%;
    position: absolute;
    left: 0%;
    bottom: 0px;
    box-shadow: unset;
    background: #fff !important;
    overflow: hidden;
  }

  .card-front {
    width: 100%;
    position: absolute;
    left: 0;
    top: 200px;
  }

  .card-front img {
    width: 100%;
    height: unset;
    max-height: 400px;
    max-width: 400px;
    box-shadow: unset;
  }

  .card.flipped {
    transform: unset;
  }

  .bio {
    min-height: 100px;
    max-height: 220px;
  }

  .bio .list-item {
    margin: 0;
    font-size: 12px;
    margin-bottom: 10px;
  }

  .fun-facts {
    min-height: 80px;
    height: 80px;
    max-height: 120px;
  }

  /* Holly Brzycki */
  .team-member.holly-brzycki {
    height: 821px;
    margin-top: 50px;
  }

  .team-member.holly-brzycki .bio {
    margin-bottom: 10px;
  }

  .team-member.holly-brzycki .card-back {
    max-height: 310px;
  }

  /* Bryan Guerrisi */
  .team-member.bryan-guerrisi {
    height: 787px;
  }

  /* Aaron Clarke */
  .team-member.aaron-clarke {
    height: 758px;
  }

  .team-member.aaron-clarke .fun-facts {
    height: 100px;
  }

  /* Kristen Gross */
  .team-member.kristen-gross {
    height: 808px;
  }

  /* Casey Stepp */
  .team-member.casey-stepp {
    height: 786px;
  }

  .team-member.casey-stepp .fun-facts {
    height: 100px;
  }

  /* Tammy True */
  .team-member.tammy-true {
    height: 783px;
  }

  /* Keisha Cree */
  .team-member.keisha-cree {
    height: 808px;
  }

  /* Beth Cappello */
  .team-member.beth-cappello {
    height: 866px;
  }

  .team-member.beth-cappello .fun-facts {
    height: 120px;
  }

  /* Dave Nichols */
  .team-member.dave-nichols {
    height: 824px;
  }

  /* Andrew Rhoads */
  .team-member.andrew-rhoads {
    height: 714px;
  }

  /* Aaron Sica */
  .team-member.aaron-sica {
    height: 780px;
    margin-bottom: 100px;
  }

  .team-member.aaron-sica .fun-facts {
    height: 120px;
  }

  /* Adam Shank */
  .team-member.adam-shank {
    height: 738px;
  }

  /* Matt Brightbill */
  .team-member.matthew-brightbill {
    height: 749px;
  }

  .team-member.matthew-brightbill .fun-facts {
    height: 100px;
  }
}
